<!DOCTYPE html>
<html class="page" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--  Edge и ряд мобильных браузеров слишком умны. Отключим это.-->
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <meta name="google" content="notranslate">
    <title>Схема работы | China tour</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="../css/style.css" data-inprogress="">
    <link type="text/css" rel="stylesheet" href="../css/scheme-work.css" data-inprogress="">
</head>

<body class="page__body">

    <header class="header">
        <div class="header__inner">
            <a href="index.html" class="logo">
      <img src="../img/logo.png" alt="Логотип">
    </a>
            <a class="header__mail" href="mailto:mail@mail.ru">mail@mail.ru</a>
            <ul class="header__list">
                <li><a href="tel:+71234567898">+7 123 456 78 98</a></li>
                <li><a href="tel:+71234567898">+7 123 456 78 98</a></li>
            </ul>
            <nav class="navigation">
                <div class="navigation__inner">
                    <div class="navigation__list-wrapper">
                        <button class="navigation__close" type="button">
            <span>Закрыть меню</span>
            <i class="icon-close"></i>
          </button>
                        <ol class="navigation__list">
                            <li><a href="#about-us" class="js-anchor">О компании</a>
                                <ul>
                                    <li>
                                        <a href="services.html">Мебельный тур в Китай</a>
                                    </li>
                                    <li>
                                        <a href="services.html">Комплектация интерьеров</a>
                                    </li>
                                    <li>
                                        <a href="services.html">Контроль качества</a>
                                    </li>
                                    <li>
                                        <a href="services.html">Оптовые поставки мебели</a>
                                    </li>
                                    <li>
                                        <a href="services.html">HoReCa</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="advantages.html">Преимущества</a>
                            </li>
                            <li>
                                <a href="scheme-work.html">Схема работа</a>
                            </li>
                            <li>
                                <a href="reviews.html">Отзывы</a>
                            </li>
                            <li>
                                <a href="contacts.html">Контакты</a>
                            </li>
                        </ol>
                    </div>
                </div>
                <p class="navigation__overlay"></p>
            </nav>
            <button class="menu-burger header__burger" type="button">
      <span class="menu-burger__toggle-line"></span>
      <span class="menu-burger__rel">Открыть меню</span>
    </button>
        </div>
    </header>



    <!-- Секция Отзывы  -->
    <section class="scheme-work">
        <div class="scheme-work__inner">
            <div class="scheme-work__top">
                <div class="scheme-work__top-decoretion">
                    <img src="../img/scheme-work/scheme-work-bg.jpg" alt="Фотография">
                </div>
                <h1 class="title title--big scheme-work__title">Мебельный тур в Китай:</h1>
                <p class="scheme-work__description">8 простых шагов к выгоде и успеху</p>
                <a href="#scheme-work__carousel" class="js-anchor arrow scheme-work__anchor"><i class="icon-arrow-long"></i></a>
            </div>
            <ul class="scheme-work__carousel list">
                <li>
                    <div class="scheme-work__wrapper-content scheme-work__wrapper-content--one">
                        <p class="scheme-work__wrapper-box">
                            <b>1</b>
                            <span>шаг</span>
                        </p>
                        <p class="scheme-work__text">Отправьте запрос на организацию мебельного тура</p>
                        <p class="scheme-work__item-description">Сформулируйте основные требования к товару и отправьте нам удобным способом. Для этого воспользуйтесь нашей контактной информацией в соответствующем разделе сайта. Дальше мы уточним детали и организуем тур. </p>
                    </div>
                </li>
                <li>
                    <div class="scheme-work__wrapper-content scheme-work__wrapper-content--two">
                        <p class="scheme-work__wrapper-box">
                            <b>2</b>
                            <span>шаг</span>
                        </p>
                        <p class="scheme-work__text">Встретьтесь в аэропорту с нашими специалистами</p>
                        <p class="scheme-work__item-description">В туре вас будет сопровождать гид-переводчик. Вы можете рассчитывать на нашу круглосуточную поддержку и консультацию.</p>
                    </div>
                </li>
                <li>
                    <div class="scheme-work__wrapper-content scheme-work__wrapper-content--three">
                        <p class="scheme-work__wrapper-box">
                            <b>3</b>
                            <span>шаг</span>
                        </p>
                        <p class="scheme-work__text scheme-work__text--special">Посетите торговые центры по индивидуально разработанному маршруту</p>
                        <p class="scheme-work__item-description">Мы заранее разработаем для вас индивидуальный маршрут по фабрикам, шоу-румам и торговым центрам, где продается нужный вам товар по оптимальным ценам. Ни одна минута не будет потрачена зря.</p>
                    </div>
                </li>
                <li>
                    <div class="scheme-work__wrapper-content scheme-work__wrapper-content--four">
                        <p class="scheme-work__wrapper-box">
                            <b>4</b>
                            <span>шаг</span>
                        </p>
                        <p class="scheme-work__text">Оформите заказ с помощью нашего менеджера</p>
                        <p class="scheme-work__item-description">Менеджер поможет подобрать товар нужного качества по лучшей цене, составить спецификацию и правильно оформить заказ. А также выступит посредником между вами и продавцом</p>
                    </div>
                </li>
                <li>
                    <div class="scheme-work__wrapper-content scheme-work__wrapper-content--five">
                        <p class="scheme-work__wrapper-box">
                            <b>5</b>
                            <span>шаг</span>
                        </p>
                        <p class="scheme-work__text">Воспользуйтесь комфортной услугой «Трансфер в аэропорт»</p>
                        <p class="scheme-work__item-description">Мы вовремя сопроводим вас в аэропорт на комфортном транспорте и позаботимся, чтобы все ваши потребности были удовлетворены. Дальше мы организуем и проконтролируем все этапы упаковки, доставки, консолидации товара. </p>
                    </div>
                </li>
                <li>
                    <div class="scheme-work__wrapper-content scheme-work__wrapper-content--six">
                        <p class="scheme-work__wrapper-box">
                            <b>6</b>
                            <span>шаг</span>
                        </p>
                        <p class="scheme-work__text">Узнавайте об этапах производства и результатах инспекции</p>
                        <p class="scheme-work__item-description">Регулярно отправляем вам подробные отчеты о состоянии товара, качестве оформления, упаковки, складирования. Наш специалист по качеству сопровождает и контролирует товар на всех этапах «до двери»</p>
                    </div>
                </li>
                <li>
                    <div class="scheme-work__wrapper-content scheme-work__wrapper-content--seven">
                        <p class="scheme-work__wrapper-box">
                            <b>7</b>
                            <span>шаг</span>
                        </p>
                        <p class="scheme-work__text scheme-work__text--special">Просматривайте фото- видеоотчеты о качестве упаковки, погрузки, доставки</p>
                        <p class="scheme-work__item-description">Подробно фиксируем на фото и видео состояние товара, упаковки, действия продавца, поставщика, сотрудников логистической компании и работников складa.</p>
                    </div>
                </li>
                <li>
                    <div class="scheme-work__wrapper-content scheme-work__wrapper-content--eight">
                        <p class="scheme-work__wrapper-box">
                            <b>8</b>
                            <span>шаг</span>
                        </p>
                        <p class="scheme-work__text">Получите заказ с доставкой «до двери» в любой точке России и СНГ</p>
                        <p class="scheme-work__item-description">Обеспечиваем эффективную логистику и доставку сборных грузов по оптимальному маршруту «до двери» в любую точку России или СНГ. Всегда вовремя, точно и в идеальном состоянии! </p>
                    </div>
                </li>
            </ul>
            <div class="scheme-work__wrapper-controls">
                <button class="button scheme-work__arrow scheme-work__arrow--prev"><i class="icon-arrow-long"></i></button>
                <p class="step-count step-count--scheme-work"></p>
                <button class="button scheme-work__arrow scheme-work__arrow--next"><i class="icon-arrow-long"></i></button>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__inner">
            <h2 class="footer__title">Навигация по сайту</h2>
            <a href="#" class="logo footer__logo">
      <img src="../img/logo.png" alt="Логотип">
    </a>
            <nav class="footer__navigation">
                <ul class="footer__navigation-list list">
                    <li class="footer__navigation-item">
                        <a href="services.html">Мебельный тур в Китай</a>
                    </li>
                    <li class="footer__navigation-item">
                        <a href="services.html">Комплектация интерьеров</a>
                    </li>
                    <li class="footer__navigation-item">
                        <a href="services.html">Контроль качества</a>
                    </li>
                    <li class="footer__navigation-item">
                        <a href="services.html">Оптовые поставки мебели</a>
                    </li>
                    <li class="footer__navigation-item">
                        <a href="services.html">HoReCa</a>
                    </li>
                    <li class="footer__navigation-item footer__navigation-item--special">
                        <a href="scheme-work.html">Схема работа</a>
                    </li>
                    <li class="footer__navigation-item footer__navigation-item--special">
                        <a href="advantages.html">Преимущества</a>
                    </li>
                    <li class="footer__navigation-item footer__navigation-item--special">
                        <a href="reviews.html">Отзывы</a>
                    </li>
                    <li class="footer__navigation-item footer__navigation-item--special">
                        <a href="contacts.html">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="footer__info">
                <ul class="social footer__social">
                    <li>
                        <a href="#">
            <span class="social__name">Vkontakte</span>
            <i class="icon-002-vk-social-logotype"></i>
          </a>
                    </li>
                    <li>
                        <a href="#">
            <span class="social__name">Facebook</span>
            <i class="icon-facebook"></i>
          </a>
                    </li>
                    <li>
                        <a href="#">
            <span class="social__name">Insagram</span>
            <i class="icon-instagram-logo-1"></i>
          </a>
                    </li>
                    <li>
                        <a href="#">
            <span class="social__name">Youtube</span>
            <i class="icon-youtube-logotype"></i>
          </a>
                    </li>
                </ul>
                <a href="#" class="footer__policy">Политика конфиденциальности</a>
            </div>
        </div>
    </footer>

    <section class="modal">
        <!-- Модальное окно РЕГЕСТРИЦИЯ -->
        <div class="popup popup--big modal__registration" data-modal="registration">
            <div class="modal__dialog">
                <div class="modal__header modal__header--line">
                    <h3 class="modal__title">Регистрация</h3>
                    <button class="modal__close close close--grey-dark close--icon" type="button">
          <span class="close__description">Закрыть модальное окно</span>
          <i class="icon-error"></i>
        </button>
                </div>
                <div class="modal__content">
                    <form action="#" class="form">
                        <div class="form__wrapper form__wrapper--column-2">
                            <label class="label">
              <span class="label__name">Имя</span>
              <input type="text" class="input" placeholder="Имя">
            </label>
                            <label class="label">
              <span class="label__name">Фамилия</span>
              <input type="text" class="input" placeholder="Фамилия">
            </label>
                            <label class="label">
              <span class="label__name">E-mail</span>
              <input type="email" class="input" placeholder="E-mail">
            </label>
                            <label class="label">
              <span class="label__name">Телефон</span>
              <input type="tel" class="input" placeholder="Телефон">
            </label>
                            <label class="label">
              <span class="label__name">Пароль</span>
              <input id="password" type="password" name="password" class="input" placeholder="Пароль">
            </label>
                            <label class="label">
              <span class="label__name">Повторите пароль</span>
              <input type="password" name="confirm_password" class="input" placeholder="Повторите пароль">
            </label>
                        </div>
                        <span class="text-error">Ошибка...</span>
                        <button type="submit" class="button button--blue button--xs-s modal__registration-button js-open-modal" data-modal="thanks-registration">
            Зарегистрироваться
          </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Модальное окно Спасибо за РЕГЕСТРИЦИЮ -->
        <div class="popup popup--small modal__thanks-registration" data-modal="thanks-registration">
            <div class="modal__dialog">
                <div class="modal__header modal__header--center">
                    <h3 class="modal__title modal__title--element title title--element">Спасибо Вам за регистрацию</h3>
                </div>
                <div class="modal__content modal__content--center">
                    <button class="button button--border-transparent button--modal js-open-modal" data-modal="sign-in" type="button">Закрыть
        </button>
                </div>
            </div>
        </div>

        <!-- Модальное окно ВВОЙТИ -->
        <div class="popup popup--big popup--hight modal__sign-in" data-modal="sign-in">
            <div class="modal__dialog">
                <div class="modal__header modal__header--line">
                    <h3 class="modal__title">Вход</h3>
                    <button class="modal__close close close--grey-dark close--icon" type="button">
          <span class="close__description">Закрыть модальное окно</span>
          <i class="icon-error"></i>
        </button>
                </div>
                <div class="modal__content modal__content--center">
                    <form action="#" class="form">
                        <div class="form__wrapper form__wrapper--column-2">
                            <p>
                                <label class="label">
                <span class="label__name">E-mail</span>
                <input type="email" class="input" placeholder="E-mail">
              </label>
                                <button type="button" class="button link link--blue modal__sign-in-link js-open-modal" data-modal="registration">Регистрация
              </button>
                            </p>
                            <p>
                                <label class="label">
                <span class="label__name">Пароль</span>
                <input type="password" class="input" placeholder="Пароль">
              </label>
                                <button type="button" class="button link link--blue modal__sign-in-link js-open-modal" data-modal="password-reminder">Напомнить пароль
              </button>
                            </p>
                        </div>
                        <span class="text-error">Ошибка...</span>
                        <a href="personal-area.html" class="button button--blue button--xs-s modal__sign-in-button">
            Войти
          </a>
                    </form>
                </div>
            </div>
        </div>

        <!-- Подложка под модальным окном -->
        <div class="modal__overlay modal__overlay--opened js-overlay-modal"></div>
    </section>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/scheme-work.min.js"></script>

</body>

</html>