<footer class="footer">
  <div class="footer__inner">
    <h2 class="footer__title">Навигация по сайту</h2>
    <a href="#" class="logo footer__logo">
      <img src="../img/logo.png" alt="Логотип">
    </a>
    <nav class="footer__navigation">
      <ul class="footer__navigation-list list">
        <li class="footer__navigation-item">
          <a href="services.html">Мебельный тур в Китай</a>
        </li>
        <li class="footer__navigation-item">
          <a href="services.html">Комплектация интерьеров</a>
        </li>
        <li class="footer__navigation-item">
          <a href="services.html">Контроль качества</a>
        </li>
        <li class="footer__navigation-item">
          <a href="services.html">Оптовые поставки мебели</a>
        </li>
        <li class="footer__navigation-item">
          <a href="services.html">HoReCa</a>
        </li>
        <li class="footer__navigation-item footer__navigation-item--special">
          <a href="scheme-work.html">Схема работа</a>
        </li>
        <li class="footer__navigation-item footer__navigation-item--special">
          <a href="advantages.html">Преимущества</a>
        </li>
        <li class="footer__navigation-item footer__navigation-item--special">
          <a href="reviews.html">Отзывы</a>
        </li>
        <li class="footer__navigation-item footer__navigation-item--special">
          <a href="contacts.html">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="footer__info">
      <ul class="social footer__social">
        <li>
          <a href="#">
            <span class="social__name">Vkontakte</span>
            <i class="icon-002-vk-social-logotype"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="social__name">Facebook</span>
            <i class="icon-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="social__name">Insagram</span>
            <i class="icon-instagram-logo-1"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="social__name">Youtube</span>
            <i class="icon-youtube-logotype"></i>
          </a>
        </li>
      </ul>
      <a href="#" class="footer__policy">Политика конфиденциальности</a>
    </div>
  </div>
</footer>