<header class="header">
  <div class="header__inner">
    <a href="#" class="logo">
      <img src="../img/logo.png" alt="Логотип">
    </a>
    <a class="header__mail" href="mailto:mail@mail.ru">mail@mail.ru</a>
    <ul class="header__list">
      <li><a href="tel:+71234567898">+7 123 456 78 98</a></li>
      <li><a href="tel:+71234567898">+7 123 456 78 98</a></li>
    </ul>
    <nav class="navigation">
      <div class="navigation__inner">
        <div class="navigation__list-wrapper">
          <button class="navigation__close" type="button">
            <span>Закрыть меню</span>
            <i class="icon-close"></i>
          </button>
          <ol class="navigation__list">
            <li><a href="#about-company" class="js-anchor">О компании</a>
              <ul>
                <li><a href="#">Мебельный тур в Китай</a></li>
                <li><a href="#">Комплектация интерьеров</a></li>
                <li><a href="#">Контроль качества</a></li>
                <li><a href="#">Оптовые поставки мебели</a></li>
                <li><a href="#">HoReCa</a></li>
              </ul>
            </li>
            <li><a href="#">Преимущества</a></li>
            <li><a href="#">Схема работы</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Контакты</a></li>
          </ol>
        </div>
      </div>
    </nav>
    <button class="menu-burger header__burger" type="button">
      <span class="menu-burger__toggle-line"></span>
      <span class="menu-burger__rel">Открыть меню</span>
    </button>
  </div>
</header>

