<header class="header">
  <div class="header__inner">
    <a href="index.html" class="logo">
      <img src="../img/logo.png" alt="Логотип">
    </a>
    <a class="header__mail" href="mailto:mail@mail.ru">mail@mail.ru</a>
    <ul class="header__list">
      <li><a href="tel:+71234567898">+7 123 456 78 98</a></li>
      <li><a href="tel:+71234567898">+7 123 456 78 98</a></li>
    </ul>
    <nav class="navigation">
      <div class="navigation__inner">
        <div class="navigation__list-wrapper">
          <button class="navigation__close" type="button">
            <span>Закрыть меню</span>
            <i class="icon-close"></i>
          </button>
          <ol class="navigation__list">
            <li><a href="index.html#about-us">О компании</a>
              <ul>
                <li>
                  <a href="services.html">Мебельный тур в Китай</a>
                </li>
                <li>
                  <a href="services.html">Комплектация интерьеров</a>
                </li>
                <li>
                  <a href="services.html">Контроль качества</a>
                </li>
                <li>
                  <a href="services.html">Оптовые поставки мебели</a>
                </li>
                <li>
                  <a href="services.html">HoReCa</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="advantages.html">Преимущества</a>
            </li>
            <li>
              <a href="scheme-work.html">Схема работа</a>
            </li>
            <li>
              <a href="reviews.html">Отзывы</a>
            </li>
            <li>
              <a href="contacts.html">Контакты</a>
            </li>
          </ol>
        </div>
      </div>
      <p class="navigation__overlay"></p>
    </nav>
    <button class="menu-burger header__burger" type="button">
      <span class="menu-burger__toggle-line"></span>
      <span class="menu-burger__rel">Открыть меню</span>
    </button>
  </div>
</header>

